################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Jelly/.vs/
logs
obj
bin
/src/Jelly/Jelly.Repositories/Migrations
/src/Jelly/Jelly.Api/Jelly.Api.xml
/src/Jelly/Jelly.Resources/Jelly.Resources.xml
